<div class="container-with-spacing">
  <button mat-button (click)="back()"><mat-icon>arrow_back</mat-icon> {{ 'hvof-system.back' | translate }}</button>
  @if (system(); as s) {
    <h1 class="title">{{ s.code }} · {{ s.systemManufacturer }} {{ s.systemModel }}</h1>
    <p class="subtitle">
      <mat-chip-set>
        <mat-chip>{{ ('hvof-system.fuel-option.' + s.fuelType) | translate }}</mat-chip>
        <mat-chip>{{ ('hvof-system.status-option.' + s.status) | translate }}</mat-chip>
        <mat-chip>S/N {{ s.serialNumber }}</mat-chip>
      </mat-chip-set>
    </p>
    <mat-tab-group>
      <mat-tab [label]="'hvof-system.tab-controllers' | translate">
        <div class="tab-content">
          @if (controllers().length === 0) {
            <p>{{ 'controllers.empty' | translate }}</p>
          } @else {
            <table mat-table [dataSource]="controllers()" class="mat-elevation-z2">
              <ng-container matColumnDef="controllerNumber">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.number' | translate }}</th>
                <td mat-cell *matCellDef="let c">{{ c.controllerNumber }}</td>
              </ng-container>
              <ng-container matColumnDef="deviceType">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.device-type' | translate }}</th>
                <td mat-cell *matCellDef="let c">{{ c.deviceType }}</td>
              </ng-container>
              <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.manufacturer' | translate }}</th>
                <td mat-cell *matCellDef="let c">{{ c.manufacturer }}</td>
              </ng-container>
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.model' | translate }}</th>
                <td mat-cell *matCellDef="let c">{{ c.model }}</td>
              </ng-container>
              <ng-container matColumnDef="ipAddress">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.ip-address' | translate }}</th>
                <td mat-cell *matCellDef="let c">{{ c.ipAddress }}:{{ c.port }}</td>
              </ng-container>
              <ng-container matColumnDef="protocols">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.protocols' | translate }}</th>
                <td mat-cell *matCellDef="let c">
                  @for (p of c.supportedProtocols; track p.protocol) { <span class="pill">{{ p.protocol }}</span> }
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'controllers.actions' | translate }}</th>
                <td mat-cell *matCellDef="let c">
                  <button mat-icon-button aria-label="{{ 'controllers.edit' | translate }}" (click)="editController(c.id)"><mat-icon>edit</mat-icon></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="controllerColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: controllerColumns;"></tr>
            </table>
          }
          <button mat-raised-button color="primary" (click)="newController()">{{ 'controllers.new' | translate }}</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  }
</div>
