<div class="container-with-spacing">
  <h1 class="title">{{ 'customers.list-title' | translate }}</h1>
  @if (store.loading()) {
    <mat-spinner diameter="40"></mat-spinner>
  }
  @if (store.error()) {
    <mat-error>{{ store.error() }}</mat-error>
  }
  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'customers.id' | translate }}</th>
      <td mat-cell *matCellDef="let customer"> {{ customer.id }} </td>
    </ng-container>
    <ng-container matColumnDef="legalName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'customers.legal-name' | translate }}</th>
      <td mat-cell *matCellDef="let customer"> {{ customer.legalName }} </td>
    </ng-container>
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>{{ 'customers.ruc' | translate }}</th>
      <td mat-cell *matCellDef="let customer"> {{ customer.ruc }} </td>
    </ng-container>
    <ng-container matColumnDef="mineSite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'customers.mine-site' | translate }}</th>
      <td mat-cell *matCellDef="let customer"> {{ customer.mineSite }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'customers.actions' | translate }}</th>
      <td mat-cell *matCellDef="let customer">
        <button mat-icon-button aria-label="{{ 'customers.edit' | translate }}" (click)="editCustomer(customer.id)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button aria-label="{{ 'customers.delete' | translate }}" (click)="deleteCustomer(customer.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <button mat-raised-button color="primary" (click)="navigateToNew()">{{ 'customers.new' | translate }}</button>
</div>
